MONGO_URI=mongodb://localhost:27017/lenxys-trader
BINANCE_API_KEY=
BINANCE_API_SECRET=
DEFAULT_SYMBOLS=BTC/USDT,ETH/USDT,SOL/USDT,BNB/USDT,DCR/USDT
FEATURE_INTERVALS=1m,1h,1d
REPORT_OUTPUT_DIR=reports/output

